<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Note</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <h1>Edit Note</h1>
    <div>
        <form action="/edit/<%= title %>" method="post">
            <label for="ptitle">Title:</label>
            <input type="text" id="ptitle" name="ptitle" value="<%= title %>" required>
            <br>
            <label for="content">Content:</label>
            <textarea id="content" name="content" required><%= ncontent %></textarea>
            <br>
            <input type="submit" value="Update Note">
        </form>
    </div>
</body>
</html>

