<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Notes App</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <h1>Welcome to My Notes App</h1> 
    <div>
        <form action="/create" method="post">
            <input class="block" type="text" name="title" placeholder="Enter Title" required>
            <textarea placeholder="Write your note" name="textarea" required></textarea>
            <input type="submit" value="Create Note">
        </form>
        <br>
        <div>
            <% if (files && files.length > 0) { %>
                <% files.forEach((file) => { %>
                    <div class="note">
                        <h2><%= file.title %></h2>
                        <p><%= file.content %></p>
                        <a href="/note/<%= file.title.replace(/\s+/g, '') %>">Read More</a>
                        <a href="/edit/<%= file.title.replace(/\s+/g, '') %>">edit</a>
                    </div>
                <% }); %>
            <% } else { %>
                <p>No notes available. Create one above!</p>
            <% } %>
        </div>
    </div>
</body>
</html>
