<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <h1 class="text-xl font-bold">m form se user create karunga to vo database m creste honge aur m alag page m user display update delete bhi kar sakta hu</h1>
    <div>
        <form action="/create" method="post" class="border-2 border-black">
            <input  name="name" type="text" placeholder="enter name" >
            <input  name="email" type="email" placeholder="enter email" >
            <input  name="image" type="text" placeholder="enter image url" >
            <input  type="submit" value="submit">
        </form>
    </div>
</body>
</html>